@import "../../utils/sass/variables";

.tag {
  background-color: $color-primary;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  font-size: 18px;
  padding: 8px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
