@mixin large-border {
  border-radius: $large-border-radius;
}

@mixin medium-border {
  border-radius: $medium-border-radius;
}

@mixin small-border {
  border-radius: $small-border-radius;
}

@mixin flex-display($di: row, $jc: initial, $ai: initial, $wr: nowrap) {
  display: flex;
  flex-direction: $di;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wr;
}
