.house {
  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__location {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px;
  }

  &__tags {
    @include flex-display($wr: wrap);
    gap: 10px;
  }

  &__host {
    width: 100%;
    @include flex-display($di: row-reverse, $jc: space-between, $ai: flex-end);
    margin: 16px 0px;
  }

  &__desc {
    @include flex-display($di: column);
    row-gap: 20px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    @include flex-display($jc: space-between, $ai: center);

    &__head {
      width: 100%;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 36px;
    }

    &__location {
      font-size: 18px;
    }

    &__host {
      @include flex-display($di: column, $jc: center);
      width: 27.5%;
    }
    &__desc {
      flex-direction: row;
      gap: 50px;
    }
  }
}
