.header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
  // width: 100%;
  &__logo {
    height: 58px;
    width: 170px;
  }
  @media all and (max-width: 768px) {
    height: 48px;
    // margin: 20px;
    &__logo {
      height: 47px;
      width: 110px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 50px;
  &__link {
    font-size: 24px;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @media all and (max-width: 768px) {
    column-gap: 20px;
    &__link {
      font-size: 14px;
    }
  }
}
