/*
* House cards on Home page
*/

.card {
  @include medium-border;
  @include dimensions($h: 335px);
  background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 12px 3px $color-primary;
    transform: scale(1.01);
  }
  &__title {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 400;
    padding-right: 20px;
  }

  &__img {
    @include medium-border;
    @include dimensions();
  }

  @media screen and (min-width: $desktop-breakpoint) {
    @include dimensions($h: 340px, $w: 340px);
  }
}
