/*
* Carousel present on House page
*/

.carousel {
  @include flex-display();
  @include dimensions($h: $carousel-height-sm);
  @include large-border;
  overflow: hidden;
  margin: 15px auto;
  position: relative;

  &__arrows {
    display: contents;
  }

  &__item {
    @include flex-display($jc: center, $ai: center);
    &__number {
      position: absolute;
      bottom: 30px;
      left: 49%;
      display: none;
    }
  }

  &__img {
    @include large-border;
    display: none;

    &__active {
      min-width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__arrow {
    position: absolute;
    bottom: calc(($carousel-height-sm - $carousel-arrow-height-sm) / 2);
    max-height: $carousel-arrow-height-sm;
    max-width: $carousel-arrow-width-sm;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
    &--left {
      left: 7.5px;
    }
    &--right {
      right: 7.5px;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    margin: 40px auto;
    @include dimensions($h: $carousel-height);
    &__item {
      &__number {
        display: initial;
      }
    }
    &__arrow {
      bottom: calc(($carousel-height - $carousel-arrow-height) / 2);
      max-height: $carousel-arrow-height;
      max-width: $carousel-arrow-width;
      &--left {
        left: 20px;
      }
      &--right {
        right: 20px;
      }
    }
  }
}
