.dropdown {
  width: 100%;
  @include small-border;
  &__head {
    background-color: $color-primary;
    @include small-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
  &__img {
    width: 15px;
    height: 9px;
    &__rotated {
      rotate: 180deg;
    }
  }
  &__body {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;

    &--closed {
      display: none;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    &__head {
      height: 47px;
      font-size: 24px;
    }
    &__body {
      font-size: 18px;
      line-height: 24px;
    }
    &__img {
      width: 24px;
      height: 14px;
    }
  }
}
