/* 
* Collapsible items on House and About pages
*/

.dropdown {
  @include dimensions($h: fit-content);
  @include small-border;
  &__head {
    background-color: $color-primary;
    @include small-border;
    @include dimensions($h: 30px);
    @include flex-display($jc: space-between, $ai: center);
    @include font($fs: 13px, $fw: 500);
    padding: 0 20px;
    cursor: pointer;
  }
  &__img {
    @include dimensions($h: 9px, $w: 15px);

    &__rotated {
      rotate: 180deg;
    }
  }
  &__body {
    border-radius: 0 0 $small-border-radius $small-border-radius;
    padding: 20px;
    @include font($fs: 12px, $lh: 18px);
    list-style-type: none;

    &--closed {
      display: none;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    &__head {
      @include dimensions($h: 47px);
      @include font($fs: 24px);
    }
    &__body {
      @include font($lh: 26px);
    }
    &__img {
      @include dimensions($h: 14px, $w: 24px);
    }
  }
}
