.footer {
  @include flex-display($di: column, $jc: center, $ai: center);
  row-gap: 35px;
  background-color: #000;
  height: $footer-height-sm;
  justify-self: flex-end;

  &__h2 {
    font-size: 12px;
    font-weight: 400;
  }

  &__logo {
    height: 36px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    padding-top: 50px;
    height: $footer-height;
    &__h2 {
      font-size: 24px;
    }
  }
}
