.footer {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: $footer-height;
  justify-self: flex-end;

  &__h2 {
    font-size: 12px;
    font-weight: 400;
  }

  &__logo {
    height: 36px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    padding-top: 50px;
    &__h2 {
      font-size: 24px;
    }
  }
}
