/*
* footer on each page
*/

.footer {
  @include flex-display($di: column, $jc: center, $ai: center, $ga: 35px);
  @include dimensions($h: $footer-height-sm);
  background-color: #000;
  justify-self: flex-end;
  &__h2 {
    @include font($fs: 12px);
  }
  &__logo {
    @include dimensions($h: 36px);
  }
  @include desktop-breakpoint {
    padding-top: 50px;
    @include dimensions($h: $footer-height);
    &__h2 {
      @include font($fs: 24px);
    }
  }
}
