/*
* Gallery of houses' cards on Home page
*/

.gallery {
  @include flex-display($jc: center, $ai: center, $wr: wrap, $ga: 20px);
  margin-bottom: 40px;
  padding: 0px;
  @include desktop-breakpoint {
    @include flex-display($ga: 30px, $jc: space-evenly, $wr: wrap);
    @include large-border;
    background-color: $color-light-bg;
    padding: 30px;
  }
}
