/*
* Gallery of houses' cards on Home page
*/

.gallery {
  @include flex-display($jc: center, $ai: center, $wr: wrap, $ga: 20px);
  margin-bottom: 40px;
  padding: 0px;

  @media screen and (min-width: $desktop-breakpoint) {
    gap: 40px;
    padding: 40px;
    border-radius: 25px;
    background-color: $color-light-bg;
    justify-content: space-evenly;
  }
}
