.header {
  height: $header-height-sm;
  @include flex-display($jc: space-between, $ai: center);
  padding: 40px $main-margin-sm;

  &__logo {
    height: 48px;
    width: 110px;
  }
  @media all and (min-width: $desktop-breakpoint) {
    height: $header-height;
    padding: 40px $main-margin;
    &__logo {
      height: 58px;
      width: 170px;
    }
  }
}

.nav {
  @include flex-display($ai: center);
  column-gap: 20px;
  &__link {
    font-size: 14px;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @media all and (min-width: $desktop-breakpoint) {
    column-gap: 50px;
    &__link {
      font-size: 24px;
    }
  }
}
