/*
* Header on each page
*/

.header {
  @include dimensions($h: $header-height-sm);
  @include flex-display($jc: space-between, $ai: center);
  padding: 40px $main-margin-sm;
  &__logo {
    @include dimensions($h: 48px, $w: 110px);
  }
  @media all and (min-width: $desktop-breakpoint) {
    @include dimensions($h: $header-height);
    padding: 40px $main-margin;
    &__logo {
      @include dimensions($h: 58px, $w: 170px);
    }
  }
}
.nav {
  @include flex-display($ai: center, $ga: 20px);

  &__link {
    @include font($fs: 14px);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @include desktop-breakpoint {
    column-gap: 50px;

    &__link {
      @include font($fs: 24px);
    }
  }
}
