.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 40px $main-margin-sm;
  align-items: center;

  &__logo {
    height: 48px;
    width: 110px;
  }
  @media all and (min-width: $desktop-breakpoint) {
    height: 108px;
    padding: 40px $main-margin;
    &__logo {
      height: 58px;
      width: 170px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &__link {
    font-size: 14px;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  @media all and (min-width: $desktop-breakpoint) {
    column-gap: 50px;
    &__link {
      font-size: 24px;
    }
  }
}
