/*
* Host picture and name on House page
*/

.host {
  @include flex-display($ai: center, $ga: 10px);

  &__name {
    text-align: right;
    font-size: 12px;
    @include dimensions($w: 75px, $h: fit-content);
  }

  &__img {
    @include dimensions($w: 32px, $h: 32px);
    border-radius: 16px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    &__name {
      font-size: 18px;
      @include dimensions($w: 100px, $h: fit-content);
    }

    &__img {
      @include dimensions($w: 64px, $h: 64px);
      border-radius: 32px;
    }
  }
}
