.host {
  @include flex-display($ai: center);
  column-gap: 10px;

  &__name {
    text-align: right;
    font-size: 12px;
    width: 75px;
  }

  &__img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    &__name {
      font-size: 18px;
      width: 100px;
    }

    &__img {
      height: 64px;
      width: 64px;
      border-radius: 32px;
    }
  }
}
