/*
* House page styles, carousel excluded
*/

.house {
  &__title {
    @include font($fw: 500);
  }
  &__location {
    @include font($fs: 14px);
    margin: 10px 0px;
  }
  &__tags {
    @include flex-display($wr: wrap, $ga: 10px);
  }
  &__host {
    width: 100%;
    @include flex-display($di: row-reverse, $jc: space-between, $ai: flex-end);
    margin: 16px 0px;
  }
  &__desc {
    @include flex-display($di: column, $ga: 20px);
    margin-bottom: 40px;
  }
  @include desktop-breakpoint {
    @include flex-display($di: row, $jc: space-between, $ai: center, $ga: 20px);
    &__head {
      width: 100%;
      margin-bottom: 20px;
    }
    &__title {
      @include font($fs: 36px);
    }
    &__location {
      @include font();
      margin: 20px 0px;
    }
    &__host {
      @include flex-display($di: column, $jc: center, $ai: flex-end);
      width: 27.5%;
    }
    &__desc {
      @include flex-display($ga: 50px);
    }
  }
}
