/*
* Tags on House page
*/

.tag {
  background-color: $color-primary;
  @include small-border;
  @include font($fs: 10px);
  @include flex-display($jc: center, $ai: center);
  @include dimensions($w: fit-content, $h: 18px);
  padding: 0px 20px 1px;
  @include desktop-breakpoint {
    @include medium-border;
    @include font($fs: 14px);
    @include dimensions($w: fit-content, $h: 25px);
    padding: 0px 30px 1px;
  }
}
