.footer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 180px;
  padding-top: 20px;
  // to be removed later
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // end to be removed

  &__logo {
    height: 40px;
  }

  &__h2 {
    font-weight: 400;
  }

  @media all and (max-width: 768px) {
    padding-top: 0;
    height: 180px;
    &__h2 {
      font-size: 14px;
    }
  }
}
