@import "./utils/sass/variables";
@import "./utils/sass/mixins";

* {
  font-family: Montserrat, Helvetica, sans-serif;
  color: $color-primary;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 80px;
  @media all and (max-width: 768px) {
    margin: 0 20px;
  }
}

.link {
  text-decoration: none;
}

.white {
  color: $color-secondary;
}

.light-bg {
  background-color: $color-light-bg;
}
