.banner {
  height: 160px;
  border-radius: 25px;
  mix-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  width: 100%;
  // border: 2px solid red;
  &__sm {
    display: none;
  }

  &__h1 {
    font-size: 42px;
    font-weight: 500;
  }
  @media all and (max-width: 767px) {
    padding-left: 16px;
    height: 112px;
    justify-content: flex-start;
    margin-bottom: 24px;
    border-radius: 10px;
    &__h1 {
      font-size: 24px;
      text-align: left;
    }
    &__sm {
      display: initial;
    }
  }
}
